@model ProjetoSeguranca.Models.Produto

<h1>Cadastrar Produto</h1>

<div class="col-md-4">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input type="text" name="Nome" class="form-control" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Preço:</label>
            <input type="text" name="Preco" class="form-control" />
            <span asp-validation-for="Preco" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label class="form-label">Quantidade:</label>
            <input type="number" name="Quantidade" class="form-control" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/Produto" class="btn btn-secondary">Voltar</a>
    </form>
</div>